[request]
request_id={{REQUEST_ID}}
node={{NODE}}
param_a=select tissue1_volume from brain_feature where feature_name='Hippocampus_R' order by tissue1_volume
param_y=select tissue1_volume from brain_feature where feature_name='Hippocampus_L' order by tissue1_volume

[in_database]
jdbc_driver=org.postgresql.Driver
jdbc_jar_path=/usr/lib/R/libraries/postgresql-9.3-1103.jdbc41.jar
jdbc_url={{IN_JDBC_URL}}
jdbc_user=federation
jdbc_password=xxx

[out_database]
jdbc_driver=org.postgresql.Driver
jdbc_jar_path=/usr/lib/R/libraries/postgresql-9.3-1103.jdbc41.jar
jdbc_url={{OUT_JDBC_URL}}
jdbc_user=analytics
jdbc_password=xxx
