{
  "schedule" : "R1//PT24H",
  "epsilon" : "PT5M",
  "name": "federation-workflow-{{request.request_id}}",
  "command": "/run.sh",
  "container": {
    "type": "DOCKER",
    "image": "registry.federation.mip.hbp/hbp_federation/workflow:latest"
  },
  "cpus": "0.2",
  "mem": "128",
  "uris": [
  ],
  "async": false,
  "owner": "root@LAB02186.chuv.ch",
  "shell": true,
  "runAsUser" : "root",
  "environmentVariables": [
    {
      "name": "REQUEST_ID",
      "value": "{{request.request_id}}"
    },
    {
      "name": "COUNT_RESULTS_QUERY",
      "value": "{{request.count_results_query}}"
    },
    {
      "name": "EXPECTED_COUNT_RESULTS",
      "value": "{{request.expected_count_results}}"
    },
    {
      "name": "IN_JDBC_DRIVER",
      "value": "{{in_database.jdbc_driver}}"
    },
    {
      "name": "IN_JDBC_JAR_PATH",
      "value": "{{in_database.jdbc_jar_path}}"
    },
    {
      "name": "IN_JDBC_URL",
      "value": "{{in_database.jdbc_url}}"
    },
    {
      "name": "IN_JDBC_USER",
      "value": "{{in_database.jdbc_user}}"
    },
    {
      "name": "IN_JDBC_PASSWORD",
      "value": "{{in_database.jdbc_password}}"
    },
    {
      "name": "OUT_JDBC_DRIVER",
      "value": "{{out_database.jdbc_driver}}"
    },
    {
      "name": "OUT_JDBC_JAR_PATH",
      "value": "{{out_database.jdbc_jar_path}}"
    },
    {
      "name": "OUT_JDBC_URL",
      "value": "{{out_database.jdbc_url}}"
    },
    {
      "name": "OUT_JDBC_USER",
      "value": "{{out_database.jdbc_user}}"
    },
    {
      "name": "OUT_JDBC_PASSWORD",
      "value": "{{out_database.jdbc_password}}"
    }
  ]
}
